.board_main {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.board {
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chosen_info {
    font-size: 30px;
    white-space: nowrap;
    padding: 10px
}

.board_numbers_buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

.number_button {
    font-size: 20px;
    color: white;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border: 2px solid yellow;
}

.number_button img {
    width: 50px;
    height: auto;
}

.number_button_red {
    background-color: red;
}

.number_button_black {
    background-color: black;
}

.number_button_green {
    background-color: green;
    width: 75px;
}

.board_categories_buttons {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    align-items: center;
}

.category_button {
    font-size: 20px;
    color: white;
    width: 50px;
    height: 50px;
    border: 2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

.category_button img {
    width: 50px;
    height: auto;
}

.category_button_text {
    transform: rotate(90deg);
    transform-origin: center;
    white-space: nowrap;
}

.category_button_col1 {
    height: 200px;
}

.category_button_col2 {
    height: 100px;
}

.category_button_col2_red {
    background-color: red;
}

.category_button_col2_black {
    background-color: black;
}

.BetMoneyButton {
    width: 50px;
    height: auto;
    padding: 0;
    background-color: #28775B;
    margin-top: 25px;
}

.BetMoneyButton img {
    width: 50px;
    height: auto;
    padding: 0;
}