.roulette_main_div {
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 100%;
    width: 100%;
}

.roulette_main_div > * {
    width: 50%;
}

.RouletteMain {
    padding-right: 15%;
    padding-left: 15%;
    background-color: #28775B;
}