.roulette_main_div {
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 0px 50px 10px 50px;
    /*height: calc(100vh - 200px);*/
    height: 120%;
}

.roulette_main_div > * {
    width: 50%;
    max-width: 50%;
}


.roulette_side {
    width: 100%;
}
