.options {
    padding-top: 100px;
}

.options_frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border: 25px solid #FFD700;
    border-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='75' height='75'%3E%3Cg fill='none' stroke='%23B88846' stroke-width='2'%3E%3Cpath d='M1 1h73v73H1z'/%3E%3Cpath d='M8 8h59v59H8z'/%3E%3Cpath d='M8 8h16v16H8zM51 8h16v16H51zM51 51h16v16H51zM8 51h16v16H8z'/%3E%3C/g%3E%3Cg fill='%23B88846'%3E%3Ccircle cx='16' cy='16' r='2'/%3E%3Ccircle cx='59' cy='16' r='2'/%3E%3Ccircle cx='59' cy='59' r='2'/%3E%3Ccircle cx='16' cy='59' r='2'/%3E%3C/g%3E%3C/svg%3E") 25;
}

.option-button {
    font-size: 30px;
    font-family: "Agency FB", serif;
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin: 15px;
    display: inline-block;
    border: 0.16em solid #b6884d;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    transition: all 0.2s;
    background-color: #b6884d;
}

.option-button:hover {
  background-color: rgb(255, 255, 255);
  border: 0.16em solid rgb(255, 255, 255);
}

.games {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65vh;
    margin-bottom: 100px;
}

.game-button {
    font-size: 30px;
    background-color: #660000;
    font-family: "Agency FB", serif;
    text-align: center;
    padding: 5px 15px 5px 10px;
    margin: 15px;
}

.game-button img {
    width: 300px;
    height: 200px;
}

.icon {
    width: 30px;
    height: 30px;
}

.outer-border {
	border: 2px solid #b6884d;
    padding: 6px;
    margin: 0 auto;
}

.mid-border {
    border: 6px solid #b6884d;
    padding: 6px;
    margin: auto;
}

.inner-border {
    display: flex;
    justify-content: center;
    flex-direction: column;
	position: relative;
	border: 2px solid #b6884d;
    margin: auto;
}


.tag-container {
  position: relative;
  margin: 20px;
}

.tag-container,
.tag-container.tag-left {
  text-align: left;
}
.tag-container.tag-center {
  text-align: center;
}
.tag-container.tag-right {
  text-align: right;
}

.tag {
  min-width: 200px;
  height: 50px;
  background-color: #b6884d;
  position: relative;
  padding: 0 15px;
  display: inline-block;
}

.game-caption {
  text-align: center;
  font-family: "Agency FB", serif;
  font-size: 30px;
  margin: 5px 10px 10px;
  color: black;
}

.tag-center .tag-tail-left {
  position: absolute;
  top: 0;
  left: -25px;
}
.tag-center .tag-tail-right {
  position: absolute;
  top: 0;
  right: -25px;
}

[class^="tag-tail"]:after,
[class^="tag-tail"].tag-tail:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
}

.tag-center .tag-tail-right:after {
  border-right: 25px solid transparent;
  border-bottom: 25px solid #b6884d;
}
.tag-center .tag-tail-left:after {
  border-right: 25px solid transparent;
  border-bottom: 25px solid #b6884d;
}

.tag-center .tag-tail-right:after {
  border-right: 25px solid transparent;
  border-top: 25px solid #b6884d;
}

.tag-center .tag-tail-left:after {
  border-left: 25px solid transparent;
  border-top: 25px solid #b6884d;
}