.payment_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

button {
    margin: 0;
    padding: 0;
}

.topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icon2 {
    width: 90%;
    height: 100%;
    padding: 5%;
}

.back_money_prompt {
    width: 50px;
    height: 50px;
}

.Info {
    font-size: 40px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.MoneyOptionsContainer {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.MoneyOption {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.MoneyOptions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag {
    padding: 0;
    min-width: 150px;
}

.tag2 {
    padding: 0;
    min-width: 150px;
    width: 1000px;
    height: 50px;
}

.game-caption {
    width: 100%;
    min-width: 100%;
}

.topNav_button {
    width: 130px;
    height: 80px;
    font-family: "Agency FB", serif;
    border: 0.16em solid #b6884d;
    background-color: #b6884d;
    color: black;
    border-radius: 30%;
    transition: all 0.2s;
    text-align: center;
    display: flex;
    text-decoration: none;
    font-size: 30px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100px;
}

.GoBackButton {
    left: 100px;
}

.AccBalance {
    right: 100px;
    min-width: 130px;
    width: fit-content;
}

.GoBackButton:hover {
  background-color: rgb(255, 255, 255);
  border: 0.16em solid rgb(255, 255, 255);
}
