.payment_main {
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
}

.topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topNav .left {
    justify-content: center;
    align-items: center;
}

.topNav .right {
    margin-left: auto;
}

.icon2 {
    width: 150px;
    height: 150px;
    padding: 10px;
}

.back_money_prompt {
    width: 50px;
    height: 50px;
}

.Info {
    font-size: 40px;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.MoneyOptionsContainer {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.MoneyOption {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MoneyOptions {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag {
    padding: 0;
    min-width: 150px;
}

.tag2 {
    padding: 0;
    min-width: 150px;
    width: 1000px;
    height: 50px;
}

.GoBackButton{
    width: 130px;
    height: 80px;
    font-family: "Agency FB", serif;
    text-align: center;
    padding: 10px 20px 10px 15px;
    margin: 15px;
    display: inline-block;
    border: 0.16em solid #b6884d;
    border-radius: 30%;
    box-sizing: border-box;
    text-decoration: none;
    color: black;
    transition: all 0.2s;
    background-color: #b6884d;
}

.AccBalance {
    width: 130px;
    height: 80px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Agency FB", serif;
    border: 0.16em solid #b6884d;
    background-color: #b6884d;
    color: black;
    text-align: center;
    transition: all 0.2s;
    border-radius: 30%;
    padding: 10px 20px 10px 15px;
}

.GoBackButton:hover {
  background-color: rgb(255, 255, 255);
  border: 0.16em solid rgb(255, 255, 255);
}
